<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car's list</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Owner</th>
        <th>Model</th>
        <th>Series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car, iterStat : ${cars}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${car.owner}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.series}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>